body {
    margin: 0;
    padding: 0;
}

#map {
    width: 90%;
    height: 600px;
    margin: 5em auto;
    margin-bottom: 2px;
    margin-top: 2px;
}

#map2 {
    width: 90%;
    height: 600px;
    margin: 5em auto;
    margin-bottom: 2px;
    margin-top: 2px;
}

#map3 {
    width: 90%;
    height: 600px;
    margin: 5em auto;
    margin-bottom: 2px;
    margin-top: 2px;
}

#map4 {
    width: 90%;
    height: 600px;
    margin: 5em auto;
    margin-bottom: 2px;
    margin-top: 2px;
}

.mapboxgl-popup-content h4 {
    font-weight: 300;
    font-size: 0.9em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.mapboxgl-popup-content h2 {
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.mapboxgl-popup-content p {
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
}

.legend-title {
	background-color: #fff;
	opacity: 90%;
	border-radius: 1em;
	bottom: -100px;
  right: 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	line-height: 2em;
	padding: 1em 2em 0em;
	position: absolute;
	max-width: 35%;
	margin: 10em 0em;
	z-index: 100;
}

.legend-title div span {
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	margin-left: 5px;
	width: 10px;
  font-weight: bold;
}

.legend {
    font:'Roboto', sans-serif;
    padding: 1em 1em 2em 1em;
    position:relative;
    right: 10px;
    z-index: 100;
    opacity: 100%;
    font-size: 14px;
  }

  .legend div span {
    border-radius: 0%;
    display: inline-block;
    height: 10px;
    margin-top: 0px;
    margin-right: 10px;
    width: 10px;
  }

  hr {
    max-width: 60rem;
    margin: auto;
    margin-top:16px;
    background-color: grey;
    opacity: 0.5;
  }

  .share-btn-container a i {
    font-size: 24px;
    margin: 8px 0;
    transition: 500ms;
    padding: 8px;
}

  span  {
    border-radius:50%;
}

.share-btn-container i:hover {
  color: #485fc7;
}

.share-btn-container .fa-facebook {
    color: #ffffff;
}

.share-btn-container .fa-twitter {
    color: #ffffff;
}

.share-btn-container .fa-linkedin {
    color: #ffffff;
}

.share-btn-container .fa-whatsapp {
    color: #ffffff;
}

  .hidden { visibility: hidden; }

  @media only screen and (max-width: 700px) {
    .legend-title {
      background-color: #ffffff;
      opacity: 0.9;
      border-radius: 0em;
      bottom: -210px;
      right: 20px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      line-height: 2em;
      padding: 1em 2em 0em;
      position: absolute;
      max-width: 40%;
      margin: 20em -1em;
      z-index: 100;
    }

    .legend {
      font-size: 12px;
    }
  }